/* ------- Animation -------*/

@keyframes jump {
    0% {
      transform: scale(1);
      box-shadow: 0 1px 2px rgba(0,0,0,.15);
    }
    100% {
      transform: scale(1.05);
      box-shadow: 0 4px 20px rgba(0,0,0,.1);
    }
}

@keyframes big {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@keyframes up {
    0% { 
      transform: translateY(3px)
    }
    50% { 
      transform: translateY(-7px)
    }
     100% { 
      transform: translateY(3px)
    }
}

._appearance {
  opacity: 0;
  transition: all 2s ease 0s;
}

._appearance._motion {
  opacity: 1;
      
}

._motion_scale {
  transform: scale(0.5);
  transition: all 4s ease 0s;
}

._motion_scale._motion {
  transform: scale(1);    
}

._motion_right {
  transform: translateX(100px);
  opacity: 0;
  transition: all 3s ease 0.3s;
}

._motion_left {
  transform: translateX(-100px);
  opacity: 0;
  transition: all 3s ease 0.3s;
}

._motion_right._motion,
._motion_left._motion {
  transform: translateX(0);
  opacity: 1;    
}

._motion_down-title {
  transform: translateY(120%);
  opacity: 0;
  transition: all 2s ease 0s;
}

._motion_down-text {
  transform: translateY(120%);
  opacity: 0;
  transition: all 2s ease 0.3s;
}

._motion_down-title._motion,
._motion_down-text._motion {
  opacity: 1;
  transform: translateY(0);   
}